:root {
    --primary-color: #437664;
    --secondary-color: #1f3c51;
    --accent1-color: #e4c269;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    margin-top: -15px;
    width: 80px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.88;
    background-color: var(--primary-color);
    color: #fff;
    text-shadow: 0 0 3px black;
}

h2 {
    position: relative;
    margin-top: 0rem;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 0rem;
    width: 96.5%;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 150px;
    border: 3px solid #fff;
}

footer {
    margin-top: 15px;
    border-top: 1px solid gainsboro;
    text-align: left;
}