:root {
    --primary-color: #437664;
    --secondary-color: #1f3c51;
    --accent1-color: #e4c269;
    --accent2-color: #61923b;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ABOUT HTML */

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 3px solid #ccc;
}

header,
main,
footer {
    width: 850px;
    margin: 0 auto;
}

header img {
    width: 100%;
    height: auto;
}

#logo {
    font-size: 2rem;
    margin-right: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.navigation {
    display: flex;
    list-style: none;
    gap: 10px;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: inline-block;
    color: navy;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    white-space: nowrap;
}

/* Social media container */

.socialmedia {
    display: flex;
    gap: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 35px;
    height: auto;
}

.hero {
    position: relative;
    margin-top: 30px;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.88;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 0 0 3px black;
}

/* History container */

.container2 h2 {
    grid-column: 1/4;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0.5rem auto;

    background-color: #fff;
    border: 2px solid var(--primary-color);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px gray;
}

.container2 img {
    width: 100%;
    height: auto;
    display: block;
    border: 4px solid var(--primary-color);
    padding: 2px;
    box-shadow: 2px 2px 4px gray;
}

/* Adventure Awaits You container3 */

.container3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: start;

    background-color: #fff;
    border: 2px solid var(--primary-color);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px gray;
}

.container3 h2 {
    grid-column: 1/6;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.three {
    margin: 0;
    text-align: center;
}

.three img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border: 4px solid var(--primary-color);
    padding: 2px;
    box-shadow: 2px 2px 4px gray;
}

.three figcaption {
    font-size: 0.9rem;
    line-height: 1.2;
}

/* Small picture and its container */

.hero article {
    position: absolute;
    bottom: 0rem;
    width: 96.2%;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 150px;
    border: 3px solid #fff;
}

footer {
    margin-top: 30px;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* CONTACT HTML */

fieldset {
    border: 2.5px solid var(--primary-color);
    border-radius: 8px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    background: #fff;
    box-shadow: 2px 3px 5px gray;
    padding: 1.2rem;
}

legend {
    text-align: center;
    font-weight: bold;
    font-family: var(--heading-font);
    font-size: 2.5rem;
    color: var(--secondary-color);
    padding: 0.8rem;
}

/* Contact Info */
.contact-details {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: center;
}

/* Contact Sections */
.map-layout {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: flex-start;
}

.map {
    flex: 1;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 8px;
}

/* Contact Form */

.contact-form {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.form-radio {
    display: flex;
    align-items: center;
    gap: 2rem
}

.form-message {
    display: grid;

}

.form-group label,
.form-radio p,
.form-message label {
    text-align: left;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    flex: 1;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid #ccc;
    max-width: 400px;
}

.form-message textarea {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid #ccc;
    height: 100px;
    margin-top: 0.75rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.radio-group label {
    width: auto;
    text-align: left;
    padding: 0;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.checkbox-group input {
    width: auto;
    margin: 0;
}

.submit-button {
    background: var(--accent1-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    align-self: flex-start;
    width: 100%;
}

.submit-button:hover {
    background: var(--accent2-color);
    color: #fff
}

/* Service Section */
.service-section {
    background: #f1f1f1;
    padding: 2.5rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 4px 8px gray;
}

.service-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    background: none;
}

.employee-profile-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: nowrap;
}

/* The Individual Card */
.profile-card {
    background: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.profile-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--accent1-color);
}

.profile-card h3 {
    margin: 15px;
    font-size: 1.5rem;
}

.profile-card p {
    color: #666;
    font-size: 1.1rem;
}