:root {
    --primary-color: #437664;
    --secondary-color: #1f3c51;
    --accent1-color: #e4c269;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 120%;
    height: auto;
}

#logo {
    font-size: 2.5rem;
    padding: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.navigation {
    display: flex;
    list-style: none;
    gap: 5px;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Social media container */

.socialmedia {
    display: flex;
    gap: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 35px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.88;
    background-color: var(--primary-color);
    color: #fff;
    text-shadow: 0 0 3px black;
}

/* History container */

.container2 h2 {
    grid-column: 1/4;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0.5rem auto;
}

.container2 img {
    width: 100%;
    height: auto;
    display: block;
    border: 4px solid var(--primary-color);
    padding: 2px;
    box-shadow: 2px 2px 4px gray;
}

/* Adventure Awaits You container3 */

.container3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: start;
}

.container3 h2 {
    grid-column: 1/6;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.three {
    margin: 0;
    text-align: center;
}

.three img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border: 4px solid var(--primary-color);
    padding: 2px;
    box-shadow: 2px 2px 4px gray;
}

.three figcaption {
    font-size: 0.9rem;
    line-height: 1.2;
}

/* Small picture and its container */

.hero article {
    position: absolute;
    bottom: 0rem;
    width: 96.2%;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 150px;
    border: 3px solid #fff;
}

footer {
    margin-top: 30px;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}