* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 580px;
    padding: 1rem;
    background-color: #fff;
    color: #fff;
}

h1 {
    margin: 0.5rem;
    color: navy;
    font-size: 1.5rem;
}

form {
    background-color: #ddd;
    color: #111;
    padding: 2rem;
    border: 1.5px solid lightgray;
    border-radius: .3rem;
}

input,
textarea,
select {
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

button {
    width: 100%;
    margin-top: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

button:hover {
    background-color: darkgreen;
}

code {
    display: block;
    padding: 1rem;
    width: 400px;
    margin: .5rem auto;
    background-color: #343232;
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}