* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: auto;
}

body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: white;
}

h1 {
    color: steelblue;
    padding: 1rem;
    margin: 1rem 0 1rem;
    border-bottom: 1px solid #000;
}

main h1 {
    font-size: 30px;
}

main img {
    width: 160px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 250px;
    height: auto;
    border: 3px solid #fff;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

aside h2 {
    position: relative;
    top: 47px;
    left: 0;
}

/* Adding on Grid */

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* Class Selectors */

.box {
    margin: rem;
    border: 2px solid rgb(0 0 0/10%);
    padding: 1.2rem;
    background-color: #ddd;
    color: #000;
}

h2 {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.indent {
    padding: 2rem;
}

aside {
    width: 20em;
    text-align: center;
}